{% extends 'base.html' %}

{% block title %}
    <title>Vacancies list</title>
{% endblock title %}

{% block content %}
    <div class="row my-5">
        <div class="col-md-10 mx-auto text-center">
            <h1 class="my-5">Vacancies parsing service</h1>
            <p>
                Vacancies from set of websites specified on searching job.
                Our service analyze several top websites according to subscribers requests.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <form method="get" action="{% url 'list' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Show</button>
            </form>
        </div>
    </div>
{% endblock content %}