{% extends 'base.html' %}

{% block title %}
    <title>Vacancies list</title>
{% endblock title %}

{% block content %}
    <div class="row my-5">
        <div class="col">
            <h1 class="my-5 text-center">Vacancies list</h1>
        </div>
    </div>
    {% if jobs %}
        <h2>Vacancies for request: city - {{ city }}, speciality - {{ speciality }}</h2>
        <hr><br />
        {% for job in jobs %}
            <div class="col-12 text-left">
                <h4><a href="{{ job.url }}">{{ job.title }}</a></h4>
                <p>{{ job.description }}</p><br />
                <p>{% if job.company != 'No name' %}Company: {{ job.company }},{% endif %} <small>Publication date - {{ job.time_stamp }}</small></p>
                <hr><br />
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-8 mx-auto">
            <h2>No vacancies on your request.</h2>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form method="get" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Show</button>
            </form>
        </div>
    </div>
{% endblock content %}
