{% extends 'base.html' %}

{% block title %}
<title>Contact form</title>
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col">

        <div class="row my-5">
            <div class="col">
                <h1 class="my-5 text-center">Form for adding new city or speciality in DataBase</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

