{% extends 'base.html' %}

{% block title %}
    <title>Create user</title>
{% endblock title %}

{% block content %}
    <div class="row my-5">
        <div class="col">
            <h1 class="my-5 text-center">Create user</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <h4 class="my-5 text-center">
                If no needed city/speciality in the list, you can <a href="{% url 'contact' %}">fill the form</a> with your wishes.
                After adding new data in list, you'll get confirming message on your email.</h4>
        </div>
    </div>
{% endblock content %}