{% extends 'base.html' %}

{% block title %}
    <title>Edit user data</title>
{% endblock title %}

{% block content %}
    <div class="row my-5">
        <div class="col-md-10">
            <h1 class="my-5 text-center">Edit user data</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Edit</button>
            </form>
        </div>
    </div>
{% endblock content %}