{% extends 'base.html' %}

{% block title %}
    <title>500</title>
{% endblock title %}

{% block content %}
    <div class="row my-5">
        <div class="col">
            <h1 class="my-5 text-center">Server Error.</h1>
        </div>
    </div>

{% endblock content %}