{% url 'list' as list_url %}
{% url 'update' as update_url %}
{% url 'create' as create_url %}
{% url 'parse' as parse_new_url %}


<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.82.0">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">

    {% block title %}
    {% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #49b1ff;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Find it</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="ms-auto navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == list_url %}active{% endif %}" aria-current="page"
                               href="{% url 'list' %}">Vacancies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == create_url %}active{% endif %}"
                               href="{% url 'create' %}">Subscribe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == update_url %}active{% endif %}"
                               href="{% url 'update' %}">Update</a>
                        </li>
                        <li>
                            <a class="nav-link {% if request.path == parse_new_url %}active{% endif %}"
                               href="{% url 'parse' %}">Parse new</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container my-5">
        <div class="row">
          <div class="col">
               {% if messages %}                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}Success: {% endif %}
                        {{ message }}
                    </li>

                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock content %}

    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>

</body>
</html>
